.examples__container {
  max-width: 1200px;
  padding: 15px 50px;
  margin-left: auto;
  margin-right: auto;
  .examples__nav {
    display: flex;
    align-items: stretch;
    border-bottom: 1px solid $gray-color-1;

    .current-nav {
      display: none;
      padding: 10px 30px;
      img {
        max-height: 45px;
      }
    }

    .nav-dropdown-btn {
      display: none;
      background: transparent;
      border-width:0;
      box-shadow: none;
      align-items: center;
      justify-content: center;
      font-weight: bold;
      width: 100px;
      padding: 10px;
      border-right: 1px solid $gray-color-1;
      span {
        opacity: 0.2;
      }
    }

    .navs {
      display: flex;
      align-items: stretch;
      width: 100%;
      .examples__nav-item {
        flex: 1;
        height: 80px;
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 10px;
        max-width: 180px;
        border-bottom: 2px solid #fff;
        max-height: 65px;
        cursor: pointer;

        &.nav-aws {
          max-width: 90px;
          padding-top: 20px;
          img {
            max-width: 50px;
            margin: auto;
          }
        }
        &.nav-gcp {
          min-width: 220px;
        }
        &.nav-azure {
          max-width: 100px;
        }
        &.nav-terraform {
          img {
            max-width: 120px;
          }
        }
        &.nav-packer {
          img {
            max-width: 110px;
          }
        }
        &.nav-docker {
          img {
            max-width: 110px;
          }
        }
        &.nav-kubernetes {
          img {
            max-width: 130px;
          }
        }

        &.active {
          border-bottom: 2px solid $primary-color-2;
        }

        &:not(.active) {
          img {
            -webkit-filter: grayscale(100%);
            filter: grayscale(100%);
            opacity: 0.25;
            &:hover {
              opacity: 1;
              -webkit-filter: grayscale(0%);
              filter: grayscale(0%);
            }
          }
        }

        img {
          width: 100%;
        }
      }
    }
  }

  @media all and (max-width: 991px) {
    .examples__nav {
      display: flex;
      align-items: stretch;
      border-bottom: 1px solid $gray-color-1;
      position: relative;
      max-height: 65px;

      .current-nav {
        display: block;
        flex: 1;
        max-width: 100%;
        img {
          max-width: 100%;
        }
      }

      .nav-dropdown-btn {
        display: flex;
        img {
          display: none;
        }
      }

      .navs {
        display: none;
        position: absolute;
        width: 100%;
        min-height: 65px;
        top: 66px;
        z-index: 5;
        flex-wrap: wrap;

        .examples__nav-item {
          min-width: 100px;
        }

        &.active {
          display: flex;
          background: #fff;
          box-shadow: $box-shadow-sm;
        }
      }
    }
  }

  @media all and (max-width: 500px) {
    .examples__nav {
      .nav-dropdown-btn {
        width: 40px;
        span {
          display: none;
        }
        img {
          width: 10px;
          display: block;
        }
      }
      .navs {
        flex-direction: column;
        .examples__nav-item {
          min-width: 100%;
          padding-top: 20px;
          padding-bottom: 20px;
          img {
            max-height: 65px;
          }
          &.nav-gcp {
            min-width: 100%;
            img {
              max-width: 200px;
            }
          }
          &.nav-azure {
            img {
              max-width: 80px;
            }
          }
        }
      }
    }
  }

  .examples__block {
    display: none;

    &.active {
      display: block;
    }

    .examples__tabs {
      display: flex;
      margin-top: 30px;
      .tab {
        min-width: 200px;
        display: flex;
        flex-direction: column;
        border: 1px solid $gray-color-1;
        border-bottom: 2px solid $gray-color-1;
        padding: 5px;
        cursor: pointer;
        label {
          line-height: 1;
          font-weight: normal;
          font-size: $font-size-xs;
          color: $gray-color-3;
        }
        .filename {
          font-size: $font-size-xs;
          color: $gray-color-3;
        }

        &.active {
          border-bottom: 2px solid $primary-color-2;
          label {
            font-weight: bold;
            color: $primary-color-2;
          }
          .filename {
            color: $text-color;
          }
        }
        &:hover {
          opacity: 0.7;
          border-bottom: 2px solid $primary-color-2;
          label {
            color: $primary-color-2;
          }
          .filename {
            color: $text-color;
          }
        }
      }
    }

    @media all and (max-width: 800px) {
      .examples__tabs {
        flex-direction: column;
      }
    }

    .examples__code {
      display: none;
      width: 60%;
      position: relative;
      margin-bottom: 50px;

      pre[class*="language-"] {
        font-size: 14px;
        margin-top: 0px;
        border-top-left-radius: 0;
        code {
          font-size: 11px;
        }
      }

      &.active {
        display: block;
      }
    }

    .description {
      display: none;
    }

    .examples__learn-more {
      min-height: 300px;
      padding: 15px 50px;
      text-align: center;
      margin-top: 50px;

      .title {
        font-size: 44px;
        font-weight: 300;
      }

      ul {
        list-style: none;
        padding-left: 0px;
        li {
          padding: 5px 10px;
          a {
            font-size: $font-size-lg;
            font-weight: bold;
            color: $primary-color-2;
            text-decoration: none;
            &:hover, &:focus, &:active {
              text-decoration: none;
            }
            &:hover {
              opacity: .8;
            }
          }
        }
      }
    }
  }
}

@media all and (max-width: 800px) {
  .examples__container {
    padding-left: 10px;
    padding-right: 10px;

    .examples__block  {
      .examples__code {
        width: 100%;
      }
    }
  }
}

@media all and (max-width: 768px) {
  .examples__container {
    .examples__block  {
      .description {
        column-count: 1;
      }
    }
  }
}
